<div class="px-0 container-fluid">

<nav class="rounded navbar navbar-dark bg-dark justify-content-center">
  <ul class="nav">
    <li class="mr-1 nav-item"><%= link_to "<i class='fa fa-home'></i>".html_safe, root_path, 
      class: "py-0 px-2 nav-link btn btn-outline-bas_col", title: "Go to Homepage" %></li>
    <li class="mr-1 nav-item"><%= link_to "<i class='fa fa-phone'></i>".html_safe, contacts_path, 
      class: "py-0 px-2 nav-link btn btn-outline-bas_col", title: "Contact" %></li>
    <li class="mr-1 av-item"><%= link_to "<i class='fa fa-info'></i>".html_safe, about_path, 
      class: "py-0 px-2 nav-link btn btn-outline-bas_col", title: "About" %> </li>
    <li class="mr-1 nav-item"><%= link_to "<i class='fas fa-hospital-symbol'></i>".html_safe, help_path, 
      class: "py-0 px-2 nav-link btn btn-outline-bas_col", title: "Sitemap" %></li>
    <li class="mr-1 nav-item"><%= link_to "<i class='fa fa-sitemap'></i>".html_safe, sitemap_path, 
      class: "py-0 px-2 nav-link btn btn-outline-bas_col", title: "Sitemap" %></li>
    <li class="mr-1 nav-item"><%= link_to "<i class='fa fa-bullseye'></i>".html_safe, staff_path, 
      class: "py-0 px-2 nav-link btn btn-outline-bas_col", title: "Staff" %></li>
    <li class="mr-1 nav-item"><%= link_to "<i class='fa fa-link'></i>".html_safe, links_path, 
      class: "py-0 px-2 nav-link btn btn-outline-bas_col", title: "Links" %></li>
  </ul>
</nav>

</div>

<p style="font-weight: bold; text-align: center;  color: bas_col_d;">Ivan Dolac, 2019</p>  
